name: build and test

on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
 
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go 
 
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get github.com/mattn/goveralls
        curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.21.0

    - name: build and test
      env:
        PATH: ${PATH}:$(go env GOPATH)/bin
      run: |
        make postgres-up
        make lint
        make test
        make bench
    - name: publish code coverage
      run: |
        bash <(curl -s https://codecov.io/bash)
      
